<p-toast></p-toast>

<div class="col-md-12">
  <div class="card card-container">
    <img
      id="profile-img"
      src="//ssl.gstatic.com/accounts/ui/avatar_2x.png"
      class="profile-img-card"
    />
    <form name="form"
          (ngSubmit)="f.form.valid && onSubmit()"
          #f="ngForm"
          novalidate>
      <label for="lastPassword">Last Password</label>
      <input
        id="lastPassword"
        type="password"
        class="form-control"
        name="password"
        [(ngModel)]="form.lastPassword"
        required
        minlength="6"
        #lastPassword="ngModel"
        [ngClass]="{ 'is-invalid': f.submitted && lastPassword.errors }"
      />
      <div *ngIf="lastPassword.errors && f.submitted" class="invalid-feedback">
        <div *ngIf="lastPassword.errors['required']">Password is required</div>
        <div *ngIf="lastPassword.errors['minlength']">
          Password must be at least 6 characters
        </div>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input
          id="password"
          type="password"
          class="form-control"
          name="password"
          [(ngModel)]="form.newPassword"
          required
          minlength="6"
          #password="ngModel"
          [ngClass]="{ 'is-invalid': f.submitted && password.errors }"
        />
        <div *ngIf="password.errors && f.submitted" class="invalid-feedback">
          <div *ngIf="password.errors['required']">Password is required</div>
          <div *ngIf="password.errors['minlength']">
            Password must be at least 6 characters
          </div>
        </div>
      </div>
      <div class="form-group">
        <button class="btn btn-primary btn-block">
          Change Password
        </button>
      </div>
    </form>
  </div>
</div>
