<p-toast></p-toast>
<div class="global">
  <div *ngIf="showAdminBoard">
    <div class="card">
      <p-toolbar styleClass="mb-4">
        <ng-template pTemplate="left">
          <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success mr-2"
                  (click)="openNew()"></button>
        </ng-template>
      </p-toolbar>

      <p-table [value]="all" [rows]="10" [paginator]="true" [globalFilterFields]="['name']" responsiveLayout="scroll"
               [rowHover]="true" dataKey="id"
               currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries">
        <ng-template pTemplate="header">
          <tr>
            <th pSortableColumn="id">Id
              <p-sortIcon field="id"></p-sortIcon>
            </th>
            <th pSortableColumn="level">Level
              <p-sortIcon field="level"></p-sortIcon>
            </th>
            <th pSortableColumn="name">Name
              <p-sortIcon field="name"></p-sortIcon>
            </th>
            <th pSortableColumn="visible">visible
              <p-sortIcon field="visible"></p-sortIcon>
            </th>
            <th></th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-roomDetail>
          <tr>
            <td>{{roomDetail.id}}</td>
            <td>{{roomDetail.level}}</td>
            <td>{{roomDetail.name}}</td>
            <td>{{roomDetail.visible}}</td>
            <td>
              <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2"
                      (click)="edit(roomDetail)"></button>
              <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning"
                      (click)="delete(roomDetail)"></button>
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="summary">
          <div class="flex align-items-center justify-content-between">
            In total there are {{all ? all.length : 0 }} elements
          </div>
        </ng-template>
      </p-table>
    </div>

    <p-dialog [(visible)]="addEditDialog" [style]="{width: '450px'}" [header]="header" [modal]="true"
              styleClass="p-fluid">
      <ng-template pTemplate="content">
        <div class="field">
          <label for="name">Name</label>
          <input type="text" pInputText id="name" [(ngModel)]="choose.name" required autofocus/>
          <small class="p-error" *ngIf="submitted && !choose.name">Name its required.</small>
        </div>
        <div class="field">
          <label for="name">Level</label>
          <input type="number" pInputText id="level" [(ngModel)]="choose.level" required autofocus/>
          <small class="p-error" *ngIf="submitted && choose.level<1">Name its required.</small>
        </div>
        <div class="field" style="padding-top: 10pt">
          <h6>Visible</h6>
          <div class="field-checkbox">
            <p-checkbox [(ngModel)]="choose.visible" [binary]="true" id="visible"></p-checkbox>
            <label for="visible" style="margin-top: 10pt; margin-left: 10pt">{{choose.visible}}</label>
          </div>
        </div>
      </ng-template>

      <ng-template pTemplate="footer">
        <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
        <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="save()"></button>
      </ng-template>
    </p-dialog>

    <p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>
  </div>
</div>
