<p-toast></p-toast>

<div class="detailContainer">
  <div *ngIf=" offer != undefined">
    <div class="row" style="height: 400pt">
      <div class="col-8">
        <p-galleria [value]="offer.images"
                    [circular]="true" [showItemNavigators]="true" [showThumbnails]="false">
          <ng-template pTemplate="item" let-image>
            <img [src]="image.name" class="scaling-image content" [alt]="offer.hotel[0].name"/>
          </ng-template>
        </p-galleria>
      </div>
      <div class="col-4">
        <div class="content" *ngIf="offer.hotel[0]">
          <p-rating [readonly]="true" *ngIf="offer.hotel[0].standard != undefined" [ngModel]="offer.hotel[0].standard"
                    [cancel]="false"></p-rating>

          <h3>Hotel Name : <br>{{offer.hotel[0].name}}</h3>
          <br>
          <p><b>Date start</b>  {{selectedAvailability.datetimeStart}} </p>
          <p><b>Date end</b>  {{selectedAvailability.datetimeEnd}}</p>
          <p><b>Days</b> {{offer.days}}</p>
          <br>

          <p style="margin-top:0;" *ngIf="offer.promotionPrice == null">Price : {{offer.price}}$</p>
          <p style="margin-top:0;" *ngIf="offer.promotionPrice != null"><s>Price : {{offer.price}}$</s></p>
          <p style="margin-top:0;" *ngIf="offer.promotionPrice != null">Promotion price : {{offer.promotionPrice}}$</p>
          <br>
          <button pButton pRipple type="button" label="Order" style="width: 15rem" (click)="order()"
                  class="p-button-outlined p-button-rounded p-button-success"></button>
          <br>
          <button pButton pRipple type="button" label="Add Opinion" (click)="openNew()"
                  style="margin-top: 10pt; width: 15rem" class="p-button-outlined p-button-rounded"></button>
        </div>
      </div>
    </div>
    <div class="col-xs-9">
      <br>
      <p-tabMenu [model]="items" [activeItem]="activeItem"></p-tabMenu>
      <div class="container" style="width:70%;border-top:1px solid silver" *ngIf="detailTab">
        <p-fieldset legend="Offer Description: ">
          <div [innerHTML]="offer.description"></div>
        </p-fieldset>
      </div>
    </div>

    <div style="width:100%;border-top:1px solid silver" *ngIf="calendarTab">
      <div class="container" style="width: 60%">
        <p-dropdown [options]="allDates" [(ngModel)]="selectedAvailability" [autoDisplayFirst]="true"
                    (onChange)="initOrUpdateOfferData()" [virtualScroll]="true" [virtualScrollItemSize]="38"
                    [style]="{'width': '400pt'}"></p-dropdown>
        <br>
        <p-calendar [(ngModel)]="selectedDate" selectionMode="range" [readonlyInput]="true" [focusTrap]="false" (ngModelChange)="myCalendar.updateFocus()"
                    [inline]="true" [style]="{'width': '400pt'}" id="dataPicker" #myCalendar></p-calendar>
      </div>
    </div>
  </div>

  <div class="container" style="width: 60%">
    <div style="border-top:1px solid silver" *ngIf="roomTab">
      <div id="RoomPanel" *ngFor="let room of offer.hotel[0].rooms">
        <p-card class="justify-content-center" [header]="room.roomDetail.name.toString()"
                [subheader]="room.price.toString()+'$'" [style]="{'margin-bottom': '50pt', 'padding': '10pt'}">
          <ng-template pTemplate="header" styleclass="wi">
            <p-galleria [value]="room.roomImage"
                        [circular]="true" [showItemNavigators]="true" [showThumbnails]="false">
              <ng-template pTemplate="item" let-image>
                <img [src]="image.name" class="scaling-image content" style="max-height: 400pt"
                     [alt]="offer.hotel[0].name"/>
              </ng-template>
            </p-galleria>
          </ng-template>
          <div>
            <div style="padding:15px;">
              <h4>Description:</h4>
              {{room.description}}
              <br>
            </div>
          </div>

          <ng-template pTemplate="footer">
            <div class="container">
              <div class="row">
                <div class="col-sm">
                </div>
                <div class="col-sm">
                  <p-toggleButton inputId="test" [ngModel]="room.selected" id="toggle" [disabled]="room.selected"
                                  (onChange)="selectedRoom(room)" onLabel="Selected" offLabel="You can change"
                                  onIcon="pi pi-check" offIcon="pi pi-times"
                                  [style]="{'width': '15em'}"></p-toggleButton>
                </div>
              </div>
            </div>
          </ng-template>
        </p-card>
      </div>
    </div>
  </div>

  <!--  opinion image tab -->
  <div style="width:100%;border-top:1px solid silver" *ngIf="opinionsTab">
    <p-accordion [multiple]="true">
      <div *ngFor="let opinion of offer.opinions">
        <p-accordionTab>
          <ng-template pTemplate="header">
            <div class="container">
              <div class="row">
                <div class="col-sm">
                  {{opinion.header}}

                </div>
                <div class="col-sm">
                  <p-rating [(ngModel)]="opinion.value"
                            [cancel]="false" [readonly]="true"
                            iconOnClass="pi pi-thumbs-up-fill"
                            iconOffClass="pi pi-thumbs-up"
                  ></p-rating>
                </div>
                <div class="col-sm">
                  {{displayDate(opinion)}}
                </div>
              </div>
            </div>
          </ng-template>

          <div styleclass="wi">
            <p>{{opinion.description}}</p>

            <div style="max-width: 450pt; max-height: 400pt">

              <p-galleria [value]="opinion.opinionImages"
                          [circular]="true" [showItemNavigators]="true" [showThumbnails]="false">
                <ng-template pTemplate="item" let-image>
                  <img [src]="image.url" class="scaling-image content" style="max-width: 400pt; max-height: 400pt"
                       [alt]="opinion.header"/>
                </ng-template>
              </p-galleria>
            </div>

          </div>
        </p-accordionTab>
      </div>
    </p-accordion>
  </div>


  <p-dialog [(visible)]="addEditOpinion" [style]="{width: '650px'}" [header]="header" [modal]="true"
            styleClass="p-fluid">
    <ng-template pTemplate="content">
      <p-rating [(ngModel)]="newEditOpinion.value"
                iconCancelClass="pi pi-undo"
                iconOnClass="pi pi-thumbs-up-fill"
                iconOffClass="pi pi-thumbs-up"
      ></p-rating>
      <div class="field">
        <label for="header">Header</label>
        <input type="text" pInputText id="header" [(ngModel)]="newEditOpinion.header" required autofocus/>
        <small class="p-error" *ngIf="submitted && !newEditOpinion.header">Name its required.</small>
      </div>
      <div class="field" style="padding-top: 2rem">
        <span class="p-float-label">
        <textarea class="form-control"
                  name="description"
                  rows="10"
                  cols="8"
                  [(ngModel)]="newEditOpinion.description"
        ></textarea>
        </span>
      </div>

      <div class="field" style="padding-top: 2rem">
        <p-fileUpload name="demo[]" url="./upload.php" [maxFileSize]="1000000" [showUploadButton]="true"
                      (onSelect)="onUpload($event)"
                      [multiple]="true" accept="image/*">
          <ng-template pTemplate="content">
            <ul *ngIf="uploadedFiles.length">
              <li *ngFor="let file of uploadedFiles">{{file.name}} - {{file.size}} bytes</li>
            </ul>
          </ng-template>
        </p-fileUpload>
      </div>

    </ng-template>

    <ng-template pTemplate="footer">
      <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
      <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="save()"></button>
    </ng-template>
  </p-dialog>
</div>
