<div class="sticky-top float-left filters" style="height: 450pt;max-width: 200pt;">
  <p class="text-center "><b>Select country</b></p>
  <p-listbox [showToggleAll]="false" [options]="countries" [(ngModel)]="selectedCountries" [checkbox]="true"
             [multiple]="true" optionLabel="name" [listStyle]="{'max-height':'300px'}"
             (onChange)="filter()" class="d-flex justify-content-center">
    <ng-template let-country pTemplate="item">
      <div class="country-item">
        <div>{{country.name}}</div>
      </div>
    </ng-template>
  </p-listbox>
  <br>
  <p class="text-center "><b>Select date</b></p>
  <div class="field col-12 md:col-4">
    <p-calendar [showButtonBar]="true" [minDate]="todayDate" (onClearClick)="filter()" (onSelect)="filter()" (onClear)="filter()"
                [(ngModel)]="rangeDates" selectionMode="range" [readonlyInput]="true"
                inputId="range"></p-calendar>
  </div>
  <br>
  <br>
  <p class="text-center "><b>How many people</b></p>
  <div class="field col-12 md:col-4">
    <p-inputNumber [(ngModel)]="people" [showButtons]="true" buttonLayout="vertical" spinnerMode="vertical"
                   inputId="vertical" [min]="1" [max]="10" (ngModelChange)="setOfferPrice()"
                   decrementButtonClass="p-button-secondary" incrementButtonClass="p-button-secondary"
                   incrementButtonIcon="pi pi-plus" decrementButtonIcon="pi pi-minus">
    </p-inputNumber>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm">
      <div *ngFor="let offer of offers | slice:0:(more ? undefined : number)">
        <p-card class="justify-content-center" [header]="offer.hotel[0].name.toString()"
                [subheader]="offer.hotel[0].country.name.toString()" [style]="{'margin-bottom': '50pt', 'padding': '10pt'}">

          <ng-template pTemplate="header" styleclass="wi">
            <p-galleria [value]="offer.images"
                        [circular]="true" [showItemNavigators]="true" [showThumbnails]="false">
              <ng-template pTemplate="item" let-item>
                <img [src]="item.name" style="max-height: 550pt;"/>
              </ng-template>
            </p-galleria>

          </ng-template>

          <div class="row">
            <div class="col-sm">
              <p-rating [readonly]="readonly" [ngModel]="offer.hotel[0].standard" [cancel]="false"></p-rating>
              <p>{{offer.description}}</p>
            </div>

            <div class="col-sm">
              <p><b>Date start</b>  {{offer.availabilities[0].datetimeStart}} </p>
              <p><b>Date end</b>  {{offer.availabilities[0].datetimeEnd}}</p>
              <p><b>Days</b> {{offer.days}}</p>
            </div>
          </div>

          <ng-template pTemplate="footer">
            <div class="container">
              <div class="row">
                <div class="col-sm cente">
                  <p class="text-center"><b><s *ngIf="offer.promotionPrice != null">price: {{offer.price}}$</s></b></p>
                  <p class="text-center" *ngIf="offer.promotionPrice == null"><b>price: {{offer.price}}$</b></p>
                  <p class="text-center" *ngIf="offer.promotionPrice != null"><b>Promotion price: {{offer.promotionPrice}}$</b></p>
                </div>
                <div class="col-sm">
                  <p-button label="Check offfer" icon="pi pi-search" (onClick)="checkOfferDetail(offer)"></p-button>
                </div>
              </div>
            </div>
          </ng-template>

        </p-card>
      </div>
    </div>
    <a *ngIf="number<offers.length" (click)="clickMore()" class="btn btn-block btn-lg btn-primary"
       style="margin-bottom: 100pt">Show more offer</a>
  </div>
</div>
